table{
    border-collapse: collapse;
    
  }
  
  
  th,td,tr{
    margin: 6px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
      
}

th,td,tr{

width:5px;
border-left:1px solid black;
height:30px;
}
#pps{
background-color: #d3d3d3;
}
#S36{
background-color: #d3d3d3;

}
#S37{
background-color: #d3d3d3;
}

#S38{
background-color: #d3d3d3;
}

#S39{
background-color: #d3d3d3;
}

#S40{
background-color: #d3d3d3;
}

#S36N{
background-color: #a1d9e6;
}

#S37N{
background-color:#6cf08f;
}
#S37R{
background-color:#6cf08f;
}

#S38N{
background-color: #a1d9e6;
}

#S38R{
background-color: #a1d9e6;
}
#S38N{
background-color: #a1d9e6;
}
#S39R{
background-color:#6cf08f;
}
#S39N{
background-color:#6cf08f;
}

#S39R{
background-color:#6cf08f;
}

#S40N{
background-color: #a1d9e6;
}
#S40R{
background-color: #a1d9e6;
}
#S40N{
background-color: #a1d9e6;
}
#SE{
font-style: italic;
}
