table{
    border-collapse: collapse;
    text-align: center;
  }
  
  
  th,td,tr{
    margin: 6px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
      
}
th,td,tr{

width:5px;
border-left:1px solid black;
height:30px;
}
tr:nth-child(even) {background: #6cf08f;}
tr:nth-child(odd) {background: #a1d9e6;}

tr, th { background-color: white;}
tfoot td { background-color: white;
font-style: italic;}

caption { background-color: #d3d3d3;
border: 1px solid black;
padding: 10px;
font-weight: bold;}

tbody td:first-child{
  background-color: #d3d3d3;
}